
body, h1, h2, h3, p, input {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Arial', sans-serif;
    background-color: wheat;
}

h1 {
    text-align: center;
    color:black;
    margin-top: 20px;
}

.content-section {
    max-width:600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control-label {
    font-weight: bold;
}

.form-control {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.invalid-feedback {
    color: #dc3545;
    margin-top: 5px;
}

.btn-outline-info {
    background-color: #17a2b8;
    color: #fff;
    border: 1px solid #17a2b8;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-outline-info:hover {
    background-color: #138496;
    border: 1px solid #138496;
}

.border-top {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.text-muted {
    color: #888;
}

.text-muted a {
    color: #17a2b8;
    text-decoration: none;
}

.text-muted a:hover {
    text-decoration: underline;
}
